.product-card {
	position: relative;
	border-radius: 20px;
	margin: 10px;
	width: 250px;
	height: 330px;
	overflow: hidden;
}

.product-card:hover {
	box-shadow: 0 0 10px gray;
}

.product-card-img {
	border-radius: 20px;
	width: 100%;
	transition: 0.4s;
}

.product-card-img:hover {
	width: 110%;
}

.count-item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* padding: 0 10px; */
	text-align: center;
}

.remove-p{
	display: block;
	padding: 2px;
	width: 20px;
	height: 100%;
	background-color:rgb(240, 119, 119);
	border: 1px solid rgb(240, 119, 119);
	margin: 0 5px;
}

.remove-p:hover{
	background-color:white;
	border: 1px solid var(--primary);
	cursor: pointer;
}

.count-p{
	display: inline-block;
	padding: 2px;
	width: 100%;
	height: 100%;
	background-color:rgb(241, 240, 240);
}

.add-p{
	display: block;
	padding: 2px;
	width: 20px;
	height: 100%;
	background-color: rgb(111, 182, 111);
	border: 1px solid rgb(11, 182, 111);
	margin: 0 5px;
}

.add-p:hover{
	background-color:white;
	border: 1px solid var(--primary);
	cursor: pointer;
}

.add-item{
	text-align: center;
	border:gray solid 1px;
	margin: 10px 0;
}

.add-item:hover {
	color: var(--primary);
	border: 1px solid var(--primary);
	cursor: pointer;
}

.product-card-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: aliceblue;
	padding: 5px;
	border-radius: 100%;
	cursor: pointer;
}

.product-card:hover .product-card-icon {
	box-shadow: 0 0 10px rgb(252, 0, 122);
}

.product-card-icon:hover {
	background-color: rgb(211, 233, 252);
}

.bag-add-outline {
	position: absolute;
	top: 90px;
	right: 20px;
	background-color: aliceblue;
	padding: 5px;
	border-radius: 100%;
	cursor: pointer;
}

.product-card:hover .bag-add-outline {
	box-shadow: 0 0 10px rgb(252, 0, 122);
}

.bag-add-outline:hover {
	background-color: rgb(211, 233, 252);
}

@media only screen and (max-width: 540px) {
	.product-card {
		margin: 5px;
		width: 200px;
		height: 270px;
	}
}
@media only screen and (max-width: 420px) {
	.product-card {
		width: 150px;
		height: 200px;
	}
}